@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(217, 207, 199) ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(26, 42, 79);
}
html{
  scroll-behavior: smooth;
}
.page-section {
  min-height: 500px;
  padding: 60px 20px 20px 20px;
  color: black;
}
.header-container {
  position: sticky;
  top :0;
  z-index: 1000;
  width:100%;  
}
.navbar-list{
  list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #4A3B3B;
      padding-left: 60px;
      min-height: 50px;
      align-items: center;
}
.navbar-list li {
  float: right;
}
.navbar-list li a {
  display: block;
  color: #D1AFAF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: url('/pointeur.png'), auto;
}

.navbar-list li a:hover {
  background-color: #B77466
}

